<form (ngSubmit)="onSubmit()" [formGroup]="filterFormGroup" class="filter-form">
  <h3>Nom de l'évènement</h3>
  <mat-form-field class="width-full" subscriptSizing="dynamic">
    <mat-label>Nom de l'évènement</mat-label>
    <input formControlName="name" matInput type="text">
  </mat-form-field>

  <div class="horizontal-container">
    <div class="half-width-form-field">
      <h3>Thème de l'évènement</h3>
      <mat-form-field class="width-full" subscriptSizing="dynamic">
        <mat-label>Thème de l'évènement</mat-label>
        <mat-select formControlName="theme">
          <mat-option [value]="null">--</mat-option>
          <mat-option *ngFor="let theme of eventThemes" [value]="theme">{{ EVENT_THEME[theme] }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="half-width-form-field">
      <h3>Date de l'évènement</h3>
      <mat-form-field class="width-full" subscriptSizing="dynamic">
        <mat-label>Date de l'évènement</mat-label>
        <input [matDatepicker]="picker" formControlName="date" matInput>
        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <h3>Amplitude des prix</h3>
  <mat-slider [max]="MAX_PRICE" [min]="MIN_PRICE" class="width-full">
    <input formControlName="minimumPrice" matSliderStartThumb value="0">
    <input formControlName="maximumPrice" matSliderEndThumb value="500">
  </mat-slider>
  <span class="prices-range-display">Prix compris entre {{ filterFormGroup.controls['minimumPrice'].value }}
    et {{ filterFormGroup.controls['maximumPrice'].value }}€</span>


  <div class="sort-type-container">
    <mat-slide-toggle [disabled]="filterFormGroup.controls['sortByPrice'].value" formControlName="sortByDate">
      Trier par date
    </mat-slide-toggle>

    <mat-radio-group [disabled]="!filterFormGroup.controls['sortByDate'].value" formControlName="sortByDateOrder">
      <mat-radio-button [value]="true">Croissant</mat-radio-button>
      <mat-radio-button [value]="false">Décroissant</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="sort-type-container">
    <mat-slide-toggle [disabled]="filterFormGroup.controls['sortByDate'].value" formControlName="sortByPrice">
      Trier par prix
    </mat-slide-toggle>

    <mat-radio-group [disabled]="!filterFormGroup.controls['sortByPrice'].value" formControlName="sortByPriceOrder">
      <mat-radio-button [value]="true">Croissant</mat-radio-button>
      <mat-radio-button [value]="false">Décroissant</mat-radio-button>
    </mat-radio-group>
  </div>
  <br>
  <button [disabled]="filterFormGroup.pristine" color="primary" mat-flat-button type="submit">Filtrer les résultats
  </button>
</form>
