.filter-form {
  display: flex;
  flex-direction: column;
}

.prices-range-display {
  width: 100%;
  text-align: center;
}

.sort-type-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
