<div class="navbar-container">
  <div class="app-name">
    <img (click)="navigationService.navigateTo(APP_URL.HOME)" alt="App logo" src="assets/images/logo.png">
  </div>
  <div class="nav-links-container">
    <button (click)="navigationService.navigateTo(APP_URL.HOME)" color="primary" mat-flat-button>Accueil</button>
    <button (click)="navigationService.navigateTo(APP_URL.EVENT + '/' + EVENTS_URL.NEW)" color="primary"
            mat-flat-button>Évènement
    </button>
    <button (click)="navigationService.navigateTo(APP_URL.PROFILE)" *ngIf="connectedUser$()" color="primary"
            mat-flat-button>Mon compte
    </button>
    <button (click)="navigationService.navigateTo(APP_URL.CHATS)" *ngIf="connectedUser$()" color="primary"
            mat-flat-button>Mes
      conversations
    </button>
    <button (click)="navigationService.navigateTo(APP_URL.LOGIN, LOGIN_FRAGMENT.LOGOUT)" *ngIf="connectedUser$()"
            color="primary"
            mat-stroked-button>Se déconnecter
    </button>
    <button (click)="navigationService.navigateTo(APP_URL.LOGIN)" *ngIf="!connectedUser$()" color="primary"
            mat-stroked-button>Se connecter
    </button>

  </div>
</div>
