<mat-card>
  <mat-card-header>
    <h3>{{ event.name }}</h3>
  </mat-card-header>
  <mat-card-content class="event-card-content">
    <div class="event-image-container">
      <img [src]="eventImageUrl$$()">
    </div>
    <div class="event-infos">
      <div class="vertical-container">
        <div class="event-info-container">
          <h4>Prix</h4>
          <span>{{ event.price }}€</span>
        </div>
        <div class="event-info-container">
          <h4>Thème</h4>
          <span>{{ event.theme_code }}</span>
        </div>
      </div>
      <div class="event-info-container">
        <h4>Date</h4>
        <span>{{ event.date | date }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
