.chat-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.chat-card {
  width: 180px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.chat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-images {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.chat-info {
  margin-top: 0.5rem;
}

.user-names {
  font-size: 1rem
}

#no-chats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 3rem;
  margin: 1rem;
  font-size: 2rem;
  color: gray;
  font-style: italic;
}
