@import "custom-theme.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: rgba(101, 236, 220, 0.1);
}

.width-full {
  width: 100%;
}

mat-card.clickable-mat-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
